
body {
    background-color: hsl(210, 46%, 95%);
}
.container-1 {
    height: 800px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    height: 200px;
    width: 600px;
    display: flex;
    
}

.container-2-1 {
    height: 200px;
    width: 200px;
    background-image: url('./images/drawer.png');
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.container-2-2 {
    height: 200px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.container-2-2-1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 13px;
    color: hsl(217, 19%, 35%);
}

.container-2-2-2 {
    
    font-size: 13px;
    padding-left: 13px;
    padding-right: 13px; 
    color: hsl(214, 17%, 51%);
}

.container-2-2-3 {
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    padding-top: 20px;
}

.image {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    
}

.info {
    display: flex;
}

.name {
    font-weight: 700;
    font-size: 17px;
    margin-left: 10px;
    color: hsl(217, 19%, 35%);
}

.date {
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
    color:hsl(214, 17%, 51%);
}

.logo {
    padding: 15px;
}